@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Oswald" !important;
}

.chakra-heading {
  font-family: "Oswald" !important;
}

#root {
  text-align: center;
}

.map {
  width: 100%;
  height: 100%;

  min-height: 100lvh;
  /* background: rgb(2, 0, 36) !important; */
  background: linear-gradient(
    35deg,
    rgb(21, 15, 80) 0%,

    rgb(0, 14, 57) 100%
  ) !important;
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 1)) !important;
}

.shadow {
  filter: drop-shadow(4px 4px 4px rgb(60, 0, 255)) !important;

  animation: pulse 1s infinite !important;
}

.shadow:hover {
  fill: #1f1f50;
}

.shadow-blue {
  filter: drop-shadow(4px 4px 4px rgb(60, 0, 255)) !important;
  /* filter: drop-shadow(4px 4px 4px rgb(250, 191, 9)) !important; */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(47deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg) !important; */
  animation: pulse 1s infinite !important;
}

/* .shadow-blue:hover {
  fill: #1f1f50;
} */

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1)) !important;
  }
  70% {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1)) !important;
  }
  100% {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 1)) !important;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1)) !important;
  }
  70% {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1)) !important;
  }
  100% {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 1)) !important;
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 1)) !important;
  }
}

.custom-marker-cluster {
  background: linear-gradient(
    35deg,
    rgba(84, 75, 249, 1) 0%,
    rgba(68, 68, 209, 1) 45%,
    rgba(49, 5, 84, 1) 100%
  );
  transform: rotate(90deg);
  /* rotate: 180deg !important; */
  /* border: 5px solid red; */
  border-radius: 50%;
  color: #000000;
  line-height: 25px !important;

  width: 40px !important;
  height: 40px !important;

  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  font-size: 20px !important;

  padding: 7px;
  filter: drop-shadow(0px 0px 7px yellow) !important;
}

.custom-marker-cluster span {
  width: 100%;
  height: 100%;

  background: white;
  border-radius: 50%;
  text-align: center !important;
  vertical-align: baseline !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.rotate-180 {
  rotate: 180deg !important;
}

.construction-icon {
  content: url("../../../public/icons/location-marker.svg");
}

.marker-icon {
  stroke: #1f1f50;
  color: white;
  fill: white;
  filter: drop-shadow(1px 1px 1px white) !important;
}

.oks-card-transition {
  animation: up 2s ease-in-out !important;
}

@keyframes up {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
